
//DISPOSITIVOS MÓVILES
@media all and (min-device-width: 0px) and (max-device-width: 1024px) {   
    table {
        position: relative;
        display: inline-flexbox;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    
        .color-icons {
            color: lightseagreen;
        }

        th {
            margin-right: 15px;
        }
        
        td {
            margin-right: 15px;
        }
    }
}

//ORDENADORES
@media all and (min-device-width: 1025px) { 
    table {
        width: 100%;
    
        .color-icons {
            color: lightseagreen;
        }
    }
    
    .container {
        margin-left: 25px;
        margin-right: 25px;
        border-radius: 1px;
       
        .scroller {
        height: 62vh;
        margin-top: 10px;
        }
    
    }
    
    #table-container {
        padding: 0px 20px;
    }
    
    #add {
        background-color: darkcyan;
    }
    
    #add.cdk-program-focused {
        background-color: darkcyan;
        
        div {
            background-color: darkcyan;
        }
    }
}