<mat-card-title>Añadir Viaje</mat-card-title>
<mat-label>
    <h4>Datos del viaje: </h4>
</mat-label>
<div id="EditorForm">
    <mat-dialog-content id=Information>
        <mat-form-field>
            <input matInput [(ngModel)]="this.pais" pattern="[a-zA-Z0-9\u00C0-\u00FF]*$" required readonly='true'placeholder="Lugar"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="viaje.descripcion" pattern="[a-zA-Z0-9\u00C0-\u00FF]*$" required placeholder="Descripción"/>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions id="actions">
        <button class="bregistro" mat-raised-button secondary (click)="this.dialogoRef.close()" >Cancelar</button>
        <button class="blogin" mat-raised-button primary (click)="addViaje(viaje)" >Guardar</button>
    </mat-dialog-actions>
</div>
<div id="archivo">
    <input type="file" multiple (change)="onFileChanged($event)" >
</div>
