<div class="container">
  <button *ngIf="this.usuario.permiso === true" mat-fab color="accent" (click)="openMenu()" aria-label="Nuevo Recuerdo">
    <mat-icon>add</mat-icon>
  </button>
  <div class="container2" *ngIf="(this.deviceService.isMobile() || this.deviceService.isTablet()) && this.usuario.permiso === false">
    <button mat-fab color="accent" (click)="this.interfazOtros.delante($event)" aria-label="Delante">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button id="btn1" mat-fab color="accent" (click)="this.interfazOtros.detras($event)" aria-label="Detrás">
      <mat-icon>arrow_downward</mat-icon>
    </button>
    <button id="btn2" mat-fab color="accent" (click)="this.interfazOtros.openTouch($event)" aria-label="Stop">
      <mat-icon>brightness_1</mat-icon>
    </button>
  </div>
  <div class="container3" *ngIf="(this.deviceService.isMobile() || this.deviceService.isTablet()) && this.usuario.permiso === true">
    <button mat-fab color="accent" (click)="this.interfazOtros.delante($event)" aria-label="Delante">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button id="btn1" mat-fab color="accent" (click)="this.interfazOtros.detras($event)" aria-label="Detrás">
      <mat-icon>arrow_downward</mat-icon>
    </button>
    <button id="btn2" mat-fab color="accent" (click)="this.interfazOtros.openTouch($event)" aria-label="Stop">
      <mat-icon>brightness_1</mat-icon>
    </button>
  </div>
</div>
<div class="engine-wrapper">
  <canvas #rendererCanvas width="300px" height="300px"></canvas>
</div>