<div id="div1">
    <button id="uno" mat-raised-button primary routerLink="/personas" >Personas</button>
    <button id="dos" mat-raised-button primary routerLink="/mascotas" >Mascotas</button>
</div>
<div id="div2" >
    <button id="tres" mat-raised-button primary routerLink="/viajes" >Viajes</button>
    <button id="cuatro" mat-raised-button primary routerLink="/otros" >Otros</button>
</div>
<div id="div3" >
    <button id="cinco" mat-raised-button primary routerLink="/diario">Diario personal</button>
</div>