canvas {
  position: fixed;
  top:0;
  left:0;
  z-index:-99;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

//DISPOSITIVOS MÓVILES
@media all and (min-device-width: 0px) and (max-device-width: 1024px) {   
mat-form-field {
  width:250px !important;
  height:65px !important;
}

#pass {
  width:250px !important;
}

#login-right {
  max-width: 600px;
  padding: 35px;
  border-radius: 15px;
  background: rgba(16,16,16,0.5);
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 3px;
  color: white;

  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: white;
    }
    mat-form-field {
      
        .mat-hint, input, ::placeholder, .mat-form-field-label {
         color: white;
      }
    }
  }
  form {
    margin: auto;
  }
  
  #card {
    width: auto;

    #header {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.8;
      padding-bottom: 15px;
      margin-bottom: 30px;
  
      span {
        font-size: 5vh;
      }
  
      mat-label {
        font-size: 25px;
        color: white;
      }
    }
  
    #login-card {
      display: grid;
      flex-direction: column;
  
      input:-moz-autofill {
        box-shadow: 0 0 0px 1000px #fff inset;
        background-color: rgba(16,16,16,0.5);
      }
  
      input:-webkit-autofill {
        box-shadow: 0 0 0px 1000px #fff inset;
        background-color:rgba(16,16,16,0.5);
      }
  
      .icon {
        color: blue;
      }
    }
  
    #actions {
      display: flex;
      flex-direction: row;
      align-content: center;
      margin-top: 10px;

      button {
        width: 120px;
        height: 40px;
        font-size: 15px;
        color: white;
        justify-content: center;
      }

      #bregistro {
          background: rgba(0,28,28,1);
      }

      #blogin {
          background: rgba(13,167,167,1);
          margin-left: 10px;
      }
    }
  }

  mat-datepicker-toggle {
    color: white !important;
   }
  .filas {
    display: inline-flexbox;
    flex-direction: column;
  }

  /deep/ .mat-checkbox-frame { 
    border-color: white;
  }

  a {
    font-size: 11px;
  }

  mat-error {
    visibility: hidden;
  }

}
}

//ORDENADORES
@media all and (min-device-width: 1025px) {   
mat-form-field {
  width:250px !important;
  margin-right: 5px;
}

#pass {
  width:505px !important;
}

#login-right {
  max-width: 600px;
  padding: 35px;
  border-radius: 15px;
  background: rgba(16,16,16,0.5);
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 200px;
  color: white;

  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: white;
    }
    mat-form-field {
      
        .mat-hint, input, ::placeholder, .mat-form-field-label {
         color: white;
      }
    }
  }
  form {
    margin: auto;
  }
  
  #card {
    width: auto;

    #header {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.8;
      padding-bottom: 15px;
      margin-bottom: 30px;
  
      span {
        font-size: 5vh;
      }
  
      mat-label {
        font-size: 25px;
        color: white;
      }
    }
  
    #login-card {
      display: grid;
      flex-direction: column;
  
      input:-moz-autofill {
        box-shadow: 0 0 0px 1000px #fff inset;
        background-color: rgba(16,16,16,0.5);
      }
  
      input:-webkit-autofill {
        box-shadow: 0 0 0px 1000px #fff inset;
        background-color:rgba(16,16,16,0.5);
      }
  
      .icon {
        color: blue;
      }
    }
  
    #actions {
      display: flex;
      flex-direction: row;
      align-content: center;
      margin-top: 20px;

      button {
        width: 120px;
        height: 40px;
        font-size: 15px;
        color: white;
        justify-content: center;
      }

      #bregistro {
          background: rgba(0,28,28,1);
      }

      #blogin {
          background: rgba(13,167,167,1);
          margin-left: 265px;
      }
    }
  }

  mat-datepicker-toggle {
    color: white !important;
   }
  .filas {
    display: inline-flexbox;
    flex-direction: column;
  }

  .filas {
    display: inline-flexbox;
    flex-direction: column;
  }

  /deep/ .mat-checkbox-frame { 
    border-color: white;
  }

}
}

mat-error ::ng-deep{
  color:white;
}