

//DISPOSITIVOS MÓVILES
@media all and (min-device-width: 0px) and (max-device-width: 1024px) {   
  mat-form-field {
    width:250px !important;
    height:65px !important;
  }

  
  form {
      margin: auto;
  }

  #principal {
      margin-top: 25px;
      overflow-y: visible;
      overflow-x: hidden;
  }
      
  #actions {
      display: inline;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      
      button {
          width: 120px;
          height: 40px;
          font-size: 15px;
          color: white;
          justify-content: center;
      }
  
      #bregistro {
          background: rgba(0,28,28,1);
      }
  
      #blogin {
          background: rgba(13,167,167,1);
          margin-top: 8px;
          margin-left: 40px;
      }

      #beliminar {
          background: lightsalmon;
          width: 140px;
          margin-top: 10px;
          margin-left: -10px;
      }
  }

  
  mat-datepicker-toggle {
      color: lightseagreen !important;
  }

  .filas {
      display: inline-flexbox;
      flex-direction: column;
  }

  /deep/ .mat-checkbox-frame { 
      border-color: white;
  }

  a {
      font-size: 11px;
  }

  mat-error {
      visibility: hidden;
  }
}