<div class="div1">
    <button id="uno" mat-raised-button primary routerLink="/informaciontipo" (click)="this.setTipoInformacion(1)" >ALIMENTACIÓN</button>
    <button id="dos" mat-raised-button primary routerLink="/informaciontipo" (click)="this.setTipoInformacion(2)" >EJERCICIOS</button>
</div>
<div class="div2">
    <button id="tres" mat-raised-button primary routerLink="/informaciontipo" (click)="this.setTipoInformacion(3)" >ENFERMEDAD</button>
    <button id="cuatro" mat-raised-button primary routerLink="/informaciontipo" (click)="this.setTipoInformacion(4)" >ORGANIZACIONES</button>
</div>
