<div>
    <button mat-raised-button primary routerLink="/informaciontipo" (click)="this.setTipoInformacion(1)" >ALIMENTACIÓN</button>
    <button mat-raised-button primary routerLink="/informaciontipo" (click)="this.setTipoInformacion(2)" >EJERCICIOS</button>
    <button mat-raised-button primary routerLink="/informaciontipo" (click)="this.setTipoInformacion(3)" >ENFERMEDAD</button>
    <button mat-raised-button primary routerLink="/informaciontipo" (click)="this.setTipoInformacion(4)" >ORGANIZACIONES</button>
</div>
