div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  
  button {
    width: 600px;
    height: 600px;
    font-size: 50px;
  }
}

#uno {
  background: rgb(128, 234, 241);
  color: white;
}

#dos {
  background: rgb(200, 240, 125);
  color: white;
}