$principal: #20b2aa;
$secundario: rgb(0,28,28);
$importante: #ffa07a;
$header: $principal;
$menu: $principal;
$personas: #8bcdcd;
$mascotas: #faf0af;
$viajes: #e5edb7;
$otros: #f1c5c5; 
$informacion: rgb(174, 189, 209);
$diario: rgb(173, 247, 231);
$blanco: #ffffff;
