//DISPOSITIVOS MÓVILES
@media all and (min-device-width: 0px) and (max-device-width: 1024px) {   
  mat-form-field {
    width:250px !important;
    height:65px !important;
  }

  
  form {
      margin: auto;
  }

  #principal {
      margin-top: 25px;
      overflow-y: visible;
      overflow-x: hidden;
  }
      
  #actions {
      display: grid;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      margin-top: 10px;
  
      button {
          width: 120px;
          height: 40px;
          font-size: 15px;
          color: white;
          justify-content: center;
      }
  
      #bregistro {
          background: rgba(0,28,28,1);
      }
  
      #blogin {
          background: rgba(13,167,167,1);
          margin-top: 8px;
      }

      #beliminar {
          background: lightsalmon;
          width: 140px;
          margin-top: 10px;
          margin-left: -10px;
      }
  }

  
  mat-datepicker-toggle {
      color: lightseagreen !important;
  }

  .filas {
      display: inline-flexbox;
      flex-direction: column;
  }

  /deep/ .mat-checkbox-frame { 
      border-color: white;
  }

  a {
      font-size: 11px;
  }

  mat-error {
      visibility: hidden;
  }
}

//ORDENADORES
@media all and (min-device-width: 1025px) {   
  mat-form-field {
    width:250px !important;
    margin-right: 5px;
  }

  #principal {
      margin-top: 25px;
      overflow-y: hidden;
  }

  #pass {
      width:505px !important;
    }

  form {
      margin: auto;
  }
    
  #actions {
      display: flex;
      flex-direction: row;
      align-content: center;
      margin-top: 20px;
      justify-content: center;
  
      button {
          width: 120px;
          height: 40px;
          font-size: 15px;
          color: white;
          justify-content: center;
      }
  
      #bregistro {
          background: rgba(0,28,28,1);
      }
  
      #blogin {
          background: rgba(13,167,167,1);
      }

      #beliminar {
          background: lightsalmon;
          width: 140px;
      }
  }
  
  mat-datepicker-toggle {
      color: lightseagreen !important;
  }
    
  .filas {
      display: inline-flexbox;
      flex-direction: column;
  }

  /deep/ .mat-checkbox-frame { 
      border-color: lightgreen;
  } 
}

mat-error ::ng-deep{
  color:lightsalmon;
}

mat-icon {
  color: lightseagreen;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: lightseagreen !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: lightseagreen !important;;
}

::ng-deep.mat-form-field-empty.mat-form-field-label {
  color: lightseagreen;
}

::ng-deep.mat-form-field-focused {
  color: lightsalmon;
}
