<mat-toolbar class="container">
    <mat-toolbar-row class="header-menu">
        <button mat-icon-button>
            <i class="material-icons header-icon">menu</i>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row routerLink="/home" >
        <mat-label>MyMemory</mat-label>
    </mat-toolbar-row>
    <mat-toolbar-row class="header-submenu">
        <button mat-raised-button routerLink="/personas">Personas</button>
        <button mat-raised-button routerLink="/mascotas">Mascotas</button>
        <button mat-raised-button routerLink="/viajes">Viajes</button>
        <button mat-raised-button routerLink="/otros">Otros recuerdos</button>
        <button mat-raised-button (click)="tokenService.logOut()">Diario de actividad</button>
    </mat-toolbar-row>
</mat-toolbar>
