@import './src/assets/scss/colores';

.container {
    background-color: $header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 56px;
    min-height: 56px;
    font-size: 15px;
    list-style-type: none;
  }
  
  .header-title {
    display: flex;
  
    align-items: center;
    padding-left: 0;
  
    :hover {
      cursor: pointer;
    }
  
    &:active,
    &:focus {
      outline: none;
    }
  }
  
  .header-menu {
    display: flex;
    width: fit-content;
    border: none;
    
  }
  
  button:focus {
    border: none;
    outline: none;
  }
  
  button.cdk-program-focused {
    background-color: inherit;
  
    div {
      background-color: inherit;
      z-index: -1;
    }
  }
  
  button:not(disabled) {
    cursor: pointer;
  }
  
  .div-header-submenu {
    width: 100%;
  }
  
  .header-submenu {
    display: flex;
    justify-content: flex-end;

    button {
      background-color: transparent;
      border: none;
      outline: none;
      color: white;
      box-shadow: none;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: inherit;
        border-left: 6px solid white;
        box-sizing: border-box;
      }
    }

    button:focus{
      color: header;
      background-color: white;
    }

  }
  
  .header-icon {
    color: white;
    font-size: 24px;
  }

  .header-user {
    mat-label {
      color: white;
      font-size: 15px;
    }

    margin-left: 20px;
  }
  
  mat-label {
    color: white;
    font-size: 30px;
    cursor: pointer;
  }

  .item-active {
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    color: $header;
    width:110px;
    height: auto;
    text-align: center;
  }

  a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  }

  *:focus {
    outline: none;
}

  .icon {
    color: white !important;
  }