<mat-toolbar class="container" fxFlexFill *ngIf= "this.roles[0] == 'ROLE_USER'">
    <mat-toolbar-row class="header-menu">
        <button mat-icon-button (click)="toggleSideNav()" fxShow="true" fxHide.gt-sm>
            <i class="material-icons header-icon">menu</i>
        </button>
        <mat-label fxFlexAlign="center">MyMemory</mat-label>
    </mat-toolbar-row>
    <mat-toolbar-row class="header-user">
        <mat-label>{{tokenService.getUserName()}}</mat-label>
        <button mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Editar Perfil</span>
            </button>
            <button mat-menu-item (click)="this.tokenService.logOut()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Cerrar sesión</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
    <mat-toolbar-row class="header-submenu" fxShow="true" fxHide.lt-md>
        <a routerLink="/personas" routerLinkActive="item-active">Personas</a>
        <a routerLink="/mascotas" routerLinkActive="item-active">Mascotas</a>
        <a routerLink="/viajes" routerLinkActive="item-active">Viajes</a>
        <a routerLink="/otros" routerLinkActive="item-active">Otros recuerdos</a>
        <a routerLink="/diario" routerLinkActive="item-active">Diario personal</a>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="container" fxFlexFill *ngIf= "this.roles[0] == 'ROLE_ADMIN'">
    <mat-toolbar-row class="header-menu">
        <button mat-icon-button (click)="toggleSideNav()" fxShow="true" fxHide.gt-sm>
            <i class="material-icons header-icon">menu</i>
        </button>
        <mat-label fxFlexAlign="center">MyMemory</mat-label>
    </mat-toolbar-row>
    <mat-toolbar-row class="header-user">
        <mat-label>{{tokenService.getUserName()}}</mat-label>
        <button mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Editar Perfil</span>
            </button>
            <button mat-menu-item (click)="this.tokenService.logOut()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Cerrar sesión</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
    <mat-toolbar-row class="header-submenu" fxShow="true" fxHide.lt-md>
        <a routerLink="/adminuser" routerLinkActive="item-active">Gestión usuarios</a>
        <a routerLink="/admininfo" routerLinkActive="item-active">Gestión información</a>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="container" fxFlexFill *ngIf= "this.roles[0] == 'ROLE_FAMILIAR'">
    <mat-toolbar-row class="header-menu">
        <button mat-icon-button (click)="toggleSideNav()" fxShow="true" fxHide.gt-sm>
            <i class="material-icons header-icon">menu</i>
        </button>
        <mat-label fxFlexAlign="center">MyMemory</mat-label>
    </mat-toolbar-row>
    <mat-toolbar-row class="header-user">
        <mat-label>{{tokenService.getUserName()}}</mat-label>
        <button mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Editar Perfil</span>
            </button>
            <button mat-menu-item (click)="this.tokenService.logOut()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Cerrar sesión</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
    <mat-toolbar-row class="header-submenu" fxShow="true" fxHide.lt-md>
        <a routerLink="/familiaruser" routerLinkActive="item-active">Familiares</a>
        <a routerLink="/familiarinfo" routerLinkActive="item-active">Información</a>
    </mat-toolbar-row>
</mat-toolbar>
