<mat-card-title>Nueva información</mat-card-title>
<div id="principal">
    <div class="filas">
        <mat-form-field>
            <mat-label>Título</mat-label>
            <input name="user" [(ngModel)]="this.informacion.titulo" required matInput ngModel  placeholder="Título"/>
            <mat-error> Campo título vacío </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Administrador</mat-label>
            <input name="user" [(ngModel)]="this.admin" [readonly]="true" required ngModel matInput placeholder="Administrador"/>
        </mat-form-field>
        <mat-form-field>
            <mat-select [(ngModel)]="informacion.tipo" name="tipo" required placeholder="Tipo">
                <mat-option *ngFor= "let tipo of tipoInformacion" [value]="tipo"> {{tipo.tipoNombre}} </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div >
        <app-info-editor [(informacion)]="informacion.contenido" ></app-info-editor>
    </div>
    <div id="actions">
        <button id="bregistro" mat-raised-button (click)="this.dialogoRef.close()">Cancelar</button>
        <button id="blogin" mat-raised-button (click)="addInformacion(informacion)">Añadir</button>
    </div>
</div>