<div *ngIf= "modo == 0">
    <mat-card-title>Añadir Recuerdo</mat-card-title>
    <div id="EditorForm">
        <mat-dialog-content id=Information>
            <mat-label>
                <h4>Datos del recuerdo: </h4>
            </mat-label>
            <mat-form-field>
                <input matInput [(ngModel)]="otro.tipo" [readonly]="true" pattern="[a-zA-Z\u00C0-\u00FF]*$" required placeholder="Nombre"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="otro.descripcion" [readonly]="true" pattern="[a-zA-Z0-9\u00C0-\u00FF]*$" required placeholder="Descripción"/>
            </mat-form-field>
        </mat-dialog-content>
    </div>
    <div>
        <ng-image-slider #nav
            [images]="imageObject"
            [infinite]="false"
            [autoSlide]="1"
            [imageSize]="{width: '25%', height: 200}"
            slideImage="1">
        </ng-image-slider>
        <mat-dialog-actions>
            <button mat-raised-button secondary (click)="this.dialogoRef.close()" >Salir</button>
            <button mat-raised-button primary (click)="modo = 1" >Editar</button>
        </mat-dialog-actions>
    </div>
</div>
<div *ngIf= "modo == 1">
    <mat-card-title>Añadir Recuerdo</mat-card-title>
    <div id="EditorForm">
        <mat-dialog-content id=Information>
            <mat-label>
                <h4>Datos del recuerdo: </h4>
            </mat-label>
            <mat-form-field>
                <input matInput [(ngModel)]="otro.tipo" pattern="[a-zA-Z\u00C0-\u017F\s]+" required placeholder="Nombre"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="otro.descripcion" pattern="[a-zA-Z\u00C0-\u017F\s]+" required placeholder="Descripción"/>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-raised-button secondary (click)="noEditar()" >Cancelar</button>
            <button mat-raised-button primary (click)="editarRecuerdo(otro)" >Guardar</button>
            <button mat-raised-button primary (click)="eliminarRecuerdo(otro.id)" >Eliminar</button>
        </mat-dialog-actions>
    </div>
</div>
