<mat-card-title>Editar Persona</mat-card-title>
<div id="EditorForm">
    <mat-dialog-content id=Information>
        <mat-label>
            <h4>Datos de la persona: </h4>
        </mat-label>
        <mat-form-field>
            <input matInput [(ngModel)]="persona.nombre" pattern="[a-zA-Z\u00C0-\u00FF]*$" required placeholder="Nombre"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="persona.apellido1" pattern="[a-zA-Z\u00C0-\u00FF]*$" required placeholder="Primer apellido"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="persona.apellido2" pattern="[a-zA-Z\u00C0-\u00FF]*$" required placeholder="Segundo apellido"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="persona.fechaNacimiento" [matDatepicker]="fechaNacimiento" required placeholder="Fecha de nacimiento" [readonly]="true"/>
            <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
            <mat-datepicker #fechaNacimiento></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="persona.fechaDefuncion" [matDatepicker]="fechaDefuncion" placeholder="Fecha de defuncion" [readonly]="true"/>
            <mat-datepicker-toggle matSuffix [for]="fechaDefuncion"></mat-datepicker-toggle>
            <mat-datepicker #fechaDefuncion></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="persona.relacion" pattern="[a-zA-Z\u00C0-\u00FF]*$" required placeholder="Relación"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="persona.descripcion" pattern="[a-zA-Z0-9\u00C0-\u00FF]*$" required placeholder="Descripción"/>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button secondary (click)="noEditar()" >Cancelar</button>
        <button mat-raised-button primary (click)="editarPersona(persona)" >Guardar</button>
    </mat-dialog-actions>
</div>
