<div class="login-div" id="login-right">
  <form #login="ngForm" (ngSubmit)="onLogin()">
      <div id="card">
          <div id="header">
              <mat-label>Bienvenido a MyMemory</mat-label>
          </div>
          <div id="login-card">
              <mat-form-field appearance="outline">
                  <mat-label>Usuario</mat-label>
                  <input name="user" [(ngModel)]="form.nombreUsuario" required matInput placeholder="Usuario"/>
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-error> Campo usuario vacío </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Contraseña</mat-label>
                  <input name="password" [(ngModel)]="form.password" required matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña"/>
                  <button mat-icon-button type="button" matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error> Campo contraseña vacío </mat-error>
              </mat-form-field>
          </div>
          <a>¿No tienes cuenta?</a>
          <div *ngIf="this.deviceService.isDesktop()" id="actions">
            <button id="bregistro" type="button" mat-raised-button routerLink="/registro">Registrarse</button>
            <button id="bregistrofamiliar" type="button" mat-raised-button routerLink="/registrofamiliar">Registrarse como familiar </button>
          </div>
          <div *ngIf="this.deviceService.isTablet()" id="actions">
            <button id="bregistro" type="button" mat-raised-button routerLink="/registro">Usuario</button>
            <button id="bregistrofamiliar" type="button" mat-raised-button routerLink="/registrofamiliar">Familiar </button>
          </div>
          <div *ngIf="this.deviceService.isMobile()" id="actions">
            <button id="bregistro" type="button" mat-raised-button routerLink="/registro">Usuario</button>
            <button id="bregistrofamiliar" type="button" mat-raised-button routerLink="/registrofamiliar">Familiar</button>
          </div>
          <div id="actions2">
            <button id="blogin" mat-raised-button type="submit" [disabled]="disabled">Entrar</button>
          </div>
      </div>
  </form>
</div>
<div class="engine-wrapper">
  <canvas #rendererCanvas></canvas>
</div>