#principal{
    position: fixed;
    display: flex;
    background-color: rgb(169, 182, 187);
    border-radius: 10px;
    width: 98%;
    height: 90%;
    justify-content: center;
}

#secundario{
    margin-left: 50px;
    margin-top: 50px;
    color: red;
}

span {
 color: red;
}

